@using Microsoft.AspNetCore.Identity
@inject SignInManager<Student> SignInManager
@{

}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li class="logged-in">
                <a class="login-labels" asp-controller="Account" asp-action="Index" asp-route-returnUrl="@Url.Action("Index", "Account")">Hello @User.Identity?.Name!</a>
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                <button type="submit" class="btn logout">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>

