@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Skranji:wght@400;700&display=swap');
/*
    font-family: 'Fredoka One', cursive;
    font-family: 'Skranji', cursive;
*/

/*#region ================ colors =============*/
:root {
    --hunter-green: #386641ff;
    --may-green: #6a994eff;
    --android-green: #a7c957ff;
    --eggshell: #f2e8cfff;
    --bittersweet-shimmer: #bc4749ff;
    --skobeloff: #006466ff;
    --midnight-green-eagle-green: #065a60ff;
    --midnight-green-eagle-green-2: #0b525bff;
    --midnight-green-eagle-green-3: #144552ff;
    --charcoal: #1b3a4bff;
    --prussian-blue: #212f45ff;
    --space-cadet: #272640ff;
    --dark-purple: #312244ff;
    --dark-purple-2: #3e1f47ff;
    --palatinate-purple: #4d194dff;
    --persian-plum: #6f1d1bff;
    --camel: #bb9457ff;
    --bistre: #432818ff;
    --windsor-tan: #99582aff;
    --banana-mania: #ffe6a7ff;
}
/*#endregion*/
/*#region ======== Shared ========*/

label {
    font-family: 'Skranji', 'Fredoka One', cursive
}

a:any-link {
    color: var(--prussian-blue);
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}

    a:any-link:hover {
        text-shadow: 2px 2px 2px var(--bittersweet-shimmer);
        color: var(--midnight-green-eagle-green);
    }

header {
    background-image: url("../images/hero.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 500px 90px;
    background-color: #98f5e177;
    color: var(--may-green);
    padding: .5em;
    position: center;
    border-bottom: 1px var(--space-cadet) solid;
}

a.navbar-brand {
    color: var(--camel);
    text-shadow: 4px 4px 4px var(--hunter-green);
    font-family: 'Skranji', cursive;
    margin-inline-start: 2em;
    /*    text-anchor: middle;*/
}

.cal-icon {
    color: var(--maize-crayola);
    margin-inline: 2em;
    text-shadow: 4px 4px 4px var(--luxury-red);
}

.btn-primary {
    background-color: var(--banana-mania);
    border-color: var(--midnight-green-eagle-green);
    color: var(--dark-purple);
    font-family: 'Futura', 'Segoe UI', sans-serif;
    border-radius: 10px;
}

    .btn-primary:hover {
        background-color: magenta var(--eggshell);
    }

.btn-secondary {
    background-color: var(--camel);
    color: var(--banana-mania);
    border-radius: 5px;
}
/*.nav-pills, .nav-link.active {
    background-color: var(--df-primary-btn);
    color: var(--bistre);
    font-family: 'Skranji', cursive;
    font-weight: 700;
    font-size: 1rem;
}*/

.border-top {
    border-top: 1px solid var(--hunter-green);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    background-color: var(--hunter-green);
    color: var(--eggshell);
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    padding-inline: 2em;
}

.logout {
    color: var(--camel);
    font-family: 'Skranji', cursive;
}

    .logout:hover {
        color: var(--persian-plum);
    }

/*#endregion*/

/* #region Home */

body {
    color: var(--charcoal);
    background: linear-gradient(35deg, rgba(146, 99, 58,.8) 0% 3%, rgba(234, 239, 189) 10.71%, rgba(144, 190, 109,.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


#calendar-wrap {
    background-color: var(--android-green);
    border-radius: 1em;
    outline: 2px solid var(--bistre);
    margin-block: 1em;
}

.calendar {
    /*    top: 20em;
    right: 20em;*/
    background-color: var(--df-secondary-bg);
    box-sizing: border-box;
    box-shadow: 1px 1px 15px var(--df-secondary-text);
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1.5);
}

.calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

    .calendar__number:nth-child(6n + 1) {
        color: #ff685d;
        font-weight: 700;
    }

    .calendar__number--current, .calendar__number:hover {
        background-color: #009688;
        color: #fff !important;
        font-weight: 700;
        cursor: pointer;
    }

.calendar-container {
    min-height: 100px;
    max-height: 100px;
}

.open-button {
    position: absolute;
    left: 2em;
    /*    display:inline;*/
}

#search-title {
    width: fit-content;
}

.card {
    background-color: #ffffff;
    color: #33aa99;
}
/* #endregion */
