@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Skranji:wght@400;700&display=swap?family=PT+Sans:wght@400;700&display=swap&family=Dosis:wght@500;700');

/*
    font-family: 'Fredoka One', cursive;
    font-family: 'Skranji', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
*/

/*#region ================ colors =============*/
:root {
    --lapis-lazuli: hsla(197, 93%, 29%, 1);
    --teal: hsla(187, 97%, 29%, 1);
    --persian-green: hsla(174, 100%, 33%, 1);
    --mint: hsla(167, 98%, 39%, 1);
    --cream: hsla(63, 69%, 85%, 1);
    --viridian: hsla(154, 15%, 49%, 1);
    --cambridge-blue: hsla(147, 21%, 70%, 1);
    --mint-green: hsla(167, 29%, 85%, 1);
    --azure-web: hsla(180, 31%, 94%, 1);
    --mint-cream: hsla(133, 100%, 98%, 1);
    --safety-orange: #ff7b00ff;
    --dark-orange-web: #ff8800ff;
    --princeton-orange: #ff9500ff;
    --orange-peel: #ffa200ff;
    --orange-web: #ffaa00ff;
    --selective-yellow: #ffb700ff;
    --mikado-yellow: #ffc300ff;
    --jonquil: #ffd000ff;
    --school-bus-yellow: #ffdd00ff;
    --canary: #ffea00ff;
}
/*#endregion*/
/*#region ======== Shared ========*/

label {
    font-family: 'Skranji', 'Fredoka One', cursive
}

a:any-link {
    color: var(--viridian);
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}

    a:any-link:hover {
        text-shadow: 2px 2px 2px var(--persian-green);
        color: var(--cambridge-blue);
    }

a.login-labels, .logout {
    color: var(--orange-peel);
}
    a.login-labels:hover, .logout:hover {
        color: var(--mint-cream);
        background-color: #bb9457;
        outline: 2px solid var(--viridian);
    }

header {
    background-image: url("../images/hero.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 500px 90px;
    background-color: #264653;
    padding: .5em;
    position: center;
    border-bottom: 1px #3d405b solid;
}

a.navbar-brand {
    color: #FF7B00;
    font-family: 'PT Sans', sans-serif;
    margin-inline-start: 2em;
}

.cal-icon {
    color: #f48c06;
    margin-inline: 2em;
    text-shadow: 4px 4px 4px #284b63;
}

.btn-primary {
    background-color: var(--lapis-lazuli);
    border-color: var(--dark-orange-web);
    color: var(--mikado-yellow);
    font-family: 'Dosis', sans-serif;
    border-radius: 5em;
}

    .btn-primary:hover {
        background-color: darkmagenta;
    }

.btn-secondary {
    background-color: #dde5b6;
    color: GrayText;
    border-radius: 1em;
}
/*.nav-pills, .nav-link.active {
    background-color: var(--df-primary-btn);
    color: var(--bistre);
    font-family: 'Skranji', cursive;
    font-weight: 700;
    font-size: 1rem;
}*/

.border-top {
    border-top: 1px solid var(--mint-cream);
}

.border-bottom {
    border-bottom: 1px solid var(--mint-cream);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    background-color: #264653;
    color: var(--eggshell);
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    padding-inline: 2em;
}

body {
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-block-end: 5em;
    color: indigo;
}
/*#endregion*/

/* #region =========== Home =========== */

/*.assignments {
    max-width: fit-content;
    min-width: 50%;
    min-height: 20em;
    max-height: 30em;
    background-color: cornflowerblue;
    margin: auto;
    box-sizing: border-box;
    padding: 1em;
    overflow-y:scroll;
}*/

.assmt-card {
    min-height: fit-content;
    max-height: 150px;
    background-color: var(--cream);
    outline: 2px solid var(--princeton-orange);
    margin-block: 1em;
    border-radius: .5em;
    max-width: 20em;
    overflow-x: hidden;
    min-width: 20em;
    color: darkmagenta;
}

.assignment-title {
    font-family: 'Dosis', sans-serif;
    margin-inline:auto;
}

.details-arrow {
    font-size: 3em;
    position: relative;
    margin-inline-start: auto;
}

.assignments {
    max-height:20em;
    min-width:25em;
    overflow-y:scroll;
    background-color:#22222244;
}

.hide-scrollbar {
    overflow-x:clip;
    max-width:22em;
}

.vertical-buttons {
    position:relative;
    max-width:fit-content;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column
}


/*#endregion*/
/*#region =========== Calendar =========== */

#calendar-wrap {
    background-color: var(--mint-cream);
    border-radius: 1em;
    outline: 2px solid olivedrab;
    margin-block: 1em;
    min-height: min-content;
    max-height: fit-content;
}

.calendar {
    /*    top: 20em;
    right: 20em;*/
    background-color: darkorange;
    box-sizing: border-box;
    box-shadow: 1px 1px 15px var(--df-secondary-text);
    border-radius: 8px;
    overflow: hidden;
    transform: scale(1.5);
}

.calendar__date {
    padding: .5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}

    .calendar__number:nth-child(6n + 1) {
        color: var(--teal);
        font-weight: 700;
    }

    .calendar__number--current, .calendar__number:hover {
        background-color: #009688;
        color: #fff !important;
        font-weight: 700;
        cursor: pointer;
        border-radius:.2em;
    }

/*#endregion*/

#search-title {
    width: fit-content;
}

.card {
    background-color: #ffffff;
    color: #33aa99;
}
/* #endregion */

/*#region =========== User Profile Page =========== */
.profile-table {
  
    max-width: fit-content;
    color: var(--dark-purple-2);
    font-family: 'Fredoka One', cursive;
    position: relative;
    margin-top: 2em;
    margin-inline: 3em;
}
/*#endregion*/
