@model UserProfileVM
@{
    ViewData["Title"] = Model.Name + "'s Profile";
}

<table class="profile-table">
    <thead>
        <tr>
            <th class="text-center" colspan="2">Welcome Back @Model.Name</th>
        </tr>
    </thead>
    <tbody class="p-4">
        <tr>
            <td class="px-3"><b>Email:</b></td>
            <td class="px-3"> @Model.Email</td>
        </tr>
        <tr>
            <td class="px-3"><b>UserName:</b></td>
            <td class="px-3"> @Model.UserName</td>
        </tr>
        <tr>
            <td class="px-3"><b>Is my Moodle connected?</b></td>
            <td class="px-3"> @Model.GetStudent.MoodleIsSet</td>
        </tr>
    </tbody>
</table>
