@model UserProfileVM
@{
    ViewData["Title"] = Model.Name + "'s Profile";
}

<table class="profile-table">
    <thead>
        <tr>
            <th class="text-center">Welcome Back @Model.Name</th>
        </tr>
    </thead>
    <tr>
        <td>Email: @Model.Email</td>
    </tr>
    <tr>
        <td>UserName: @Model.UserName</td>
    </tr>
</table>
