@model Student
@{
    ViewBag["Title"] = "User Profile";
}

<div>
    <table>
        <th>
            <tr>User: </tr>
            <tr>@Model.Name</tr>
        </th>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>