@model Student
@{
    ViewBag["Title"] = "User Profile";
}

<div>
    <table>
        <th>
            <tr>User: </tr>
            <tr>@Model.Name</tr>
        </th>
        tr*2>td*2
    </table>
</div>